.University{
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 20vh;
    align-items: left;
    text-align: left;
    min-height: 71vh;
    height: auto;

    .PageTitle{
        font-size: 30px;
        text-align: left;
        margin-bottom: 5px;
        margin-left:10%
    }
    

}