.Filter{
    
    margin-top: 50px;
    font-size: 18px;

    .Filter-degree{
        margin-top: 20px;
        text-align: left;
    }

    .Filter-fields{
        margin-top: 20px;
        text-align: left;
    }

    .Filter-city{
        margin-top: 20px;
        text-align: left;
    }

}