.Results{
    float: left;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    

    .Pagetitle{
        text-align: left;
    }

    .Results-list{
        margin-top: 50px;
        text-align: center;

        .Result-title{
            font-size: 30px;
            text-align: left;
            margin-bottom: 50px;
        }
    }
}